/*
Colors used

PRIMARY blues

lightest #333577 	
lighter #7F81B2 
medium #555794 
darker #1A1B59 
darkest #090A3B 

SECONDARY greens

lightest #AAA639 	
lighter #FFFCAA 
medium #D4D16A 
darker #807C15
darkest #555200 

TERTIARY browns
 
lightest #AA6F39 
lighter #FFD3AA 
medium #D49D6A 
darker #804815 
darkest #552900 
 */

:root {
  --primary-color: #1a1b59;
  --dark-blue:  #090a3b;
  --light-blue: #555794;
  --secondary-color: #e0b354;
  --light-green:  #fffcaa;
  --tertiary-color: #ffd3aa;
  --dark-grey: #2b2b2b;
  --h1-font:  30px;
  --h2-font: 24px;
  --h3-font: 20px;
  --main-font: 16px;
  --bold-font:  700;
  --regular-font:  400;
}

* {
	box-sizing:  border-box;
}

body {
	font-family:  'Fira Sans',sans-serif;
	font-weight:  var(--regular-font);
	font-size:  var(--main-font);
	color:  var(--dark-grey);
}

header {
	border-bottom:  1px solid var(--dark-blue);
}

main {
	padding: 30px;
	text-align:  center;
}

h1 {
	font-size:  var(--h1-font);
	font-weight:  var(--bold-font);
	line-height:  1.6em;
}

h2 {
	font-size:  var(--h2-font);
	font-weight: var(--bold-font);
	line-height:  1.5em;
}

h3 {
	font-size:  var(--h3-font);
	font-weight:  var(--bold-font);
	line-height:  1.4em;
}

a {
	color:  var(--primary-color);

}

a:visited {
	color:  var(--light-blue);
}

a:hover, a:focus {
	color: var(--tertiary-color);
	text-decoration:  none;
}

a:active {
	color:  var(--light-green);
}



.button {
	border:  none;
	background-color:  var(--primary-color);
	text-decoration:  none;
	font-size:  var(--main-font);
	color:  white;
	padding:  20px;
	border-radius:  4px;
	border-bottom: 2px solid black;
	transition: opacity 0.5s ease-out;
}

.button:hover, .button:focus {
	cursor:  pointer;
	opacity:  0.8;
}


.navigation-list {
	list-style-type:  none;
  
}


.navigation-list li {
	display: inline-block;
	margin-left:  15px;


}


.profile__portrait {
	float:  left;
	width:  250px;
	margin-right:  40px;
	border-radius: 50%;
}

.about__portrait {
	width:  250px;
	margin-right:  40px;
	border-radius: 50%;
}

.page-footer {
	clear: both;
	display:  flex;
	flex-direction:  column;
	text-align:   center;
	padding-top:  60px;
}

.profile {
	max-width:  700px;
	margin:  0 auto;
	text-align:  center;
}

.page-header {
	display:  flex;
	width:  100%;
	padding: 20px;
}

.page-header__item {
	flex:  0 1 200px;
}

.page-header__item:last-child {
	flex-grow:  1;
	text-align:  right;
	padding-right: 30px;
}

section {
	padding:  20px;
}

section h1 {
	text-align:  center;
}

.project-container-grid {
	display:  grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap:  20px;

}

.grid__item {
	background-color:  lightgray;
	padding:  15px;
	text-align:  center;
}

.about-text {
	margin-bottom:  40px;
}

.animated-image {
	display: block;
	margin:  0 auto;
	margin-top:  60px;
	margin-bottom: 60px;
}
@keyframes color-change {
	0% {
		fill: #FAAC36;
	}
	50% {
		fill: #ED9106;
	}
	100% {
		fill: #ED1C24;
	}
}

@keyframes wine-disappear {
	0% {
		fill: #ED1C24;
	}
	50% {
		fill: #ED9106;
	}
	100% {
		fill: #BFBF43;
	}
}

@keyframes bottle-open {
	from {
		transform: translate(0, 0);
	}
	to {
		transform: translate(-10px, -5px);
	}
}

@keyframes heart-grow {
	from {
		transform: scale(1,1);
	}
	to {
		transform: scale(1.3,1.3);
	}
}




#Fill-591, #Fill-592, #Fill-593, #Fill-594, #Fill-595, #Fill-584, #Fill-585, #Fill-586, #Fill-587, #Fill-588 {
	animation: 4s color-change infinite alternate linear;
}

#Fill-360, #Fill-332 {
	animation:  4s wine-disappear infinite ease-out;

}

#Fill-335 {
	animation: 4s bottle-open infinite ease-in;
}

#Fill-376, #Fill-378, #Fill-379, #Fill-381, #Fill-383, #Fill-384 {
	animation:  2s heart-grow infinite alternate ease-in;
}



@media all and (max-width: 750px) {
	.project-container-grid {
		grid-template-columns: 1fr 1fr;
		grid-gap:  10px;
	}

	h2 {
		font-size:  22px;
	}
}

@media all and (max-width: 500px) {
	.project-container-grid {
		grid-template-columns:  1fr;
		grid-gap:  10px;
	}

}